version: '3.8'

services:
  java-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Map host port 8080 to container port 8080

  node-service:
    build:
      context: ./patient-service
      dockerfile: Dockerfile
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000